In [12]:
print("Hello world of Jupyter.")
("Hello world of Jupyter.")

Hello world of Jupyter.

'Hello world of Jupyter.'

In [6]:
from pandas import *
import pandas as pd

# Load data from .csv file
data: DataFrame = pd.read_csv("base.csv")
head: DataFrame = data.head()
(head)
# print("\n", head)

   CodPostal  Sexo  Edad  Color  Años_Estudio  Renta    Altura
0         11     0    23      8            12    800  1.603808
1         11     1    23      2            12   1150  1.739790
2         11     1    35      8            15    880  1.760444
3         11     0    46      2             6   3500  1.783158
4         11     1    47      8             9    150  1.690631

In [13]:
sexCounts = data["Sexo"].value_counts()
sexPercent = data["Sexo"].value_counts(normalize = True)

distribution = pd.DataFrame(
    {"counts" : sexCounts, "porcentaje" : sexPercent}
)
sexRename = {0 : "Male", 1 : "Female"}
distribution.rename(index = sexRename, inplace = True)

(distribution)

        counts  porcentaje
Sexo
Male     53250    0.692998
Female   23590    0.307002